body
{
    text-align: center;
    background-size: cover;
}
.spot /*class for spots in mazeBoard*/
{
    display: inline-flex;
    width: 15px;
    height: 40px;
}

.wall
{
    background-color: blue;
}

.floor
{
    background-color: red;
}

.player /*make white class, will be player*/
{
    width: 100%;
    height: 40px;
    background-color: #FFFFFF;
}

.start /*make green class*/
{
    border: 1px solid black;
    background-color: #2e8a1c;
}

.exit /*make red class*/
{
    background-color: #5c0824;
    border: 1px solid black;
}

    

  
  .startEmoji {
    font-size: 90px;
    height: 20%; 
    width: 20%;
    margin-top: 20%;
    
    
    
  }
  
  .endEmoji {
    font-size: 90px;
    margin-top: 10%;
    height: 20%;
    width: 20%;
  }
  
  .nowBox {
    background-color: #2e8c39;;
  }